body {
    font-size: 150%;
    background-color: #f5f5dc;
    font-family: "Source Serif Pro", serif;
    color: #2A2B2A;
    padding: 0 2pc 2pc;
    margin: 0 auto;
    max-width: 1200px;
}

header {
    font-family: "Source Sans Pro", sans-serif;
}

p {
    text-align: justify;
}

.circular-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position center center;
    border: 2px solid #fff;
    margin: 10px;
}

.header-container {
    display: flex;
    align-items:center;
    flex-direction: row;
    text-align: center;
}

.icon-boxes {
    display: flex;
    justify-content: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-box {
    margin: 0 10px;
    text-align: center;
}

.icon-box p {
    margin: 0px -2px;
    font-size: 14px;
    font-family: "Source Serif Pro", serif;
}

.small-circular-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position center center;
    margin: 20px;
}

a,
a:hover,
a:visited {
    color: #4885ed;
    text-decoration: none;
}